.before_after_container{
  height: auto;
  width: auto;
  //border: solid 1px red;
  margin: 0px auto;
  position: relative;
  .after_image{
    width: 100%;
    height: 100%;
    background: url("../images/after-1920.jpg") no-repeat right center;
    background-size: cover;
    overflow-y: hidden;
    img{
      width: 100%;
      visibility: hidden;
    }
  }
  .before_image_container{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow-y: hidden;
    .before_image{
      width: 72%;
      height: 100%;
      position: relative;
      border-left:1px solid #000 ;
      background: url(../images/before-1920.jpg) no-repeat right center;
      background-size: cover;
      float: right;
      img{
        width: 100%;
        visibility: hidden;
      }
      .slider_button{
        border: solid 1px #000;
        width: 60px;
        height: 60px;
        position: relative;
        top: 50%;
        margin-top: -30px;
        background-color: #fff;
        border-radius: 30px;
        left: -30px;
        cursor: pointer;

      }
      .slider_button:after, .slider_button:before{
        font-family: flaticon;
        content:"\f103";
        //height: 20px;
        //width: 20px;
        color: #000;
        position: relative;
        top: 18px;
        left:10px;
        display: inline-block;
      }
      .slider_button:before{
        transform: rotate(-180deg);
        top: 17px;

      }
    }

  }
}