.before_after_container{
  height: auto;
  width: auto;
  //border: solid 1px red;
  margin: 0px auto;
  position: relative;
  .before-after-text{
    position:absolute;
    right: 30vw;
    top: 90px;
    text-transform: uppercase;
    white-space: nowrap;
    font-family: 'quicksand', Sans-Serif;
    font-size: 24px;
    font-weight: 700;
    color: #575656;
  }
  .seven_minutes_before{
  }
  .after_image{
    width: 100%;
    height: 100%;
    background: url("../images/after-1920.jpg") no-repeat right center;
    background-size: cover;
    overflow-y: hidden;
    .seven_minutes_after{
      transform: translateX(-52px);
    }

    img{
      width: 100%;
      visibility: hidden;
    }
  }
  .before_image_container{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow-y: hidden;
    .before_image{
      position: relative;
      width: 72%;
      height: 100%;
      //position: relative;
      border-left: solid 3px #3b3c3c;
      box-sizing: border-box;
      background: url(../images/before-1920.jpg) no-repeat right center;
      background-size: cover;
      float: right;
      .before-after-text-wrap{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        overflow: hidden;
      }
      img{
        width: 100%;
        visibility: hidden;
      }
      .slider_button{
        border: solid 2px #3b3c3c;
        width: 60px;
        height: 60px;
        position: relative;
        top: 50%;
        margin-top: -30px;
        background-color: #fff;
        border-radius: 30px;
        left: -31px;
        cursor: pointer;

      }
      .slider_button:after, .slider_button:before{
        font-family: flaticon;
        content:"\f103";
        //height: 20px;
        //width: 20px;
        color: #3b3c3c;
        position: relative;
        top: 18px;
        left:16px;
        display: inline-block;
      }
      .slider_button:before{
        transform: rotate(-180deg);
        top: 17px;
        left: 9px;

      }
    }

  }
}
.before_after_container.mobile_ba{
  display:none;
}
@media screen and (max-width: 1200px){
  .before_after_container {

    .before-after-text {
      right: 27vw;
      top: 3.3vw;
      font-size: 1.9vw;
    }
  }
}


@media screen and (max-width: 768px){
  .before_after_container.desktop_ba{
    display:none;
  }
  .before_after_container.mobile_ba{
    display:block;
  }
  .before_after_container{
    position:relative;
   .before-after-text {
      right: 52vw;
      top: 40px;
      font-size: 24px;
    }
    .after_image{
      background: url("../images/ba_after.jpg") no-repeat right center;
      background-size: cover;
      .seven_minutes_after {
        transform: translateX(-38px);
      }
    }
    .before_image_container{
      .before_image{
        width: 90%;
        background: url(../images/ba_before.jpg) no-repeat right center;
        background-size: cover;
        .slider_button{
          width: 41px;
          height: 41px;
          border-radius: 20px;
          left: -21px;
        }
        .slider_button:after, .slider_button:before{
          font-size: 12px;
          top: 6px;
          left: 8px;
        }
        .slider_button:before{
          top: 5px;
          left: 5px;
        }
      }
    }
  }
}

@media screen and (max-width: 550px){
  .before_after_container {

    .before-after-text {
      right: 40vw;
      top: 3.3vw;
    }
  }
}

@media screen and (max-width: 420px){
  .before_after_container {

    .before-after-text {
      right: 30vw;
      top: 3.3vw;
    }
  }
}