@import "vars";;
@media screen and(min-width: 1020px) {
  .xoo-wsc-modal {
     display: none;
    height: 486px !important ;
    .xoo-wsc-container{
      height: 486px ;
      transition: none;
      .xoo-wsc-header{
        border: none;
        padding: 0;
        position: relative;
        .thryangle{
          width: 25px;
          height: 25px;
          transform: rotate(45deg);
          border: solid 1px #acacac;
          background-color: #fff;
          border-bottom: none;
          border-right: none;
          position: absolute;
          right: 50px;
          top: -37px;
        }
        .header_title{
          text-align: center;
          color: $gold_color;
          display: flex;
          justify-content: center;
          margin-top: 24px;

          .title_text{
            font-size: 24px;
            font-family: 'quicksand';
            font-weight: 700;
            text-transform: uppercase;
            margin-right: 5px;
          }
          .title_variation{

          }
        }
        .card_desctiption{
          text-align: center;
          margin-top: 5px;
          color: $site_black;
        }
      }
      .xoo-wsc-body{
        height: 240px !important;
        width: 275px;
        margin: 0 auto;
        .xoo-wsc-content{
          .xoo-wsc-product{
            margin-top: 20px;
            border-bottom-color:$menu_border_color ;
            padding-bottom: 20px;
            .xoo-wsc-img-col{
              width: 50%;
              position: relative;
              .xoo-wsc-remove{
                display: none;
              }
              .new_remove{
                position: absolute;
                top:-10px;
                width: 15px;
                height: 15px;
                background: url("/wp-content/themes/leorex_seoweb/images/review_close_320.png");
              }
            }
            .xoo-wsc-sum-col{
              width: 38%;
              .capacity, .product_price, .product_quantity{
                display: flex;
                justify-content:start;

              }
              .capacity{
                color:$menu_border_color;
                margin-top: 10px;
              }
              .product_price{
                color: $site_black;
                margin-top: 10px;
                font-weight: 500;
                height: 20px;
                line-height: 20px;
                .product_price_title{
                  font-size: 16px;
                }
                .product_price_val{
                  font-size: 20px;
                  font-weight: 600;
                  margin-left: 2px;
                }
              }
              .product_quantity{
                color: $site_black;
                margin-top: 2px;
                font-weight: 600;
                font-size: 16px;
              }
              a, .variation, .xoo-wsc-price{
                display: none;
              }
            }
          }
          .xoo-wsc-subtotal{
            font-size: 18px;
            color: $site_black;
            font-weight: 600;
            .woocommerce-Price-amount{
              font-size: 20px;
              font-weight: 700;
            }
          }
          .xoo-wsc-shiptxt{
            display: none;
          }
        }
      }
      .xoo-wsc-footer{
        width: 275px;
        margin: 0 auto;
        position: relative;
        display: block;
        padding: 0;
        border: none;
        .xoo-wsc-cart{
          display: none !important;
        }
        a{
          margin: 0;
          padding: 0;
          background: none;
          height: 48px;
          text-transform: uppercase;
          font-size: 20px;
          border: solid 3px;
          margin-top: 10px;
          line-height: 42px;
        }
        .xoo-wsc-chkt{
          border-color: $gold_color;
          color: $gold_color;
        }
        .xoo-wsc-cont{
          border-color: $in_stock_color;
          color: $in_stock_color;
        }
      }
    }
  }
  .xoo-wsc-modal.xoo-wsc-active {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    .xoo-wsc-container{
      right: 285px;
      top: 100px;
      border: solid 1px $menu_border_color;
      width: 464px;
    }

  }
}