.woocommerce-cart{
  #content{
    min-height: calc(100vh - 357px);
    #main{
      padding: 0 20px;
      width: 100%;
      max-width: 927px;
      margin:0 auto;
      position:relative;
      .woocommerce-message{
        display: none;
      }
      h1{
        margin:0;
        color: #575656;
      }
      .cont_shop{
        a.cont_shop_button{
          background: none;
          border-radius: 0;
          border: 3px solid #686868;
          font-family: "quicksand", sans-serif;
          font-weight: bold;
          color: #686868;
          padding: 15px 0;
          text-align: center;
          width: 100%;
          display: block;
          text-transform: uppercase;
          text-decoration: none;
          font-size: 20px;
        }
      }
      .cart_totals{
        .wc-proceed-to-checkout{
          padding-bottom: 0;
          .checkout-button{
            background: none;
            border-radius: 0;
            border: 3px solid #d6b488;
            font-family: "quicksand", sans-serif;
            font-weight: bold;
            color: #d6b488;
            padding: 15px 0;
            text-align: center;
            text-transform: uppercase;
          }
        }
        h2{
          display: none;
        }
        table{
          border: none;
        }
        .shop_table{
          .cart-subtotal{
            display: none;
          }
          .shipping{
            display: none;
          }
          .order-total{
            border: none;

            td{
              display: flex;
              text-align: center !important;
              justify-content: center;
              font-size: 16px;
              font-weight:bold;
            }
            td::before{
              font-weight:300;
            }
          }
        }
      }
      .desktop_cart{display: none;}
      .mobile_cart{
        display: block;
        .cart_item{
          display: flex;
          justify-content: flex-start;
          padding: 30px 0;
          border-bottom: 1px solid #acacac;
          position:relative;
          .cart_product_image{
            padding: 0 0px 30px 0;
            img{
              max-height: 136px;
              width: auto;
            }
          }
          .cart_product_text{
            .cart_product_title{
              font-family: "quicksand", sans-serif;
              font-size: 17px;
              font-weight: bold;
              text-transform: uppercase;
              color:#d6b488;
              a{
                font-family: "quicksand", sans-serif;
                font-size: 17px;
                font-weight: bold;
                text-transform: uppercase;
                color:#d6b488;
                text-decoration: none;
              }
              .variation{
                margin:5px 0 15px 0;
                .variation-variation1, .variation-Packege{
                  margin: 0;
                  font-size: 13px;
                  font-weight: 400;
                  color: #acacac;
                  font-family: "Open Sans", sans-serif;
                  p{
                    margin: 0;
                  }
                }
                .variation-variation1:first-child, .variation-Packege:first-child{
                  display: none;
                  margin: 0;
                }
              }

            }
            .cart_product_price{
              font-size: 16px;
              font-weight: 400;
              color: #3b3c3c;
              font-family: "Open Sans", sans-serif;
            }
            .cart_product_quantity{
              input{
                width: 90px;
                height: 35px;
                text-align: center;
                line-height: 35px;
                font-size: 16px;
                font-weight: 400;
                color: #3b3c3c;
                font-family: "Open Sans", sans-serif;
                margin: 15px 0;
              }
            }
            .cart_product_total{
              font-size: 16px;
              font-weight: 400;
              color: #3b3c3c;
              font-family: "Open Sans", sans-serif;
            }
            .cart_product_remove{
              position: absolute;
              left: 0;
              bottom: 35px;
              a.remove{
                color: #d6b488 !important;
                font-weight: 100;
                font-size: 30px;
                display: inline-block;
                .remove_by_x{
                  display:none;
                }
              }
              a.remove:hover{
                background: none;

              }

            }
          }
        }
        .shop_table{
          display: none;
        }
      }
    }
  }
  }


@media screen and (min-width: 768px) {
  .woocommerce-cart {
    #content {
      #main {
        padding: 0 20px;
        margin: 50px auto;
        .mobile_cart {
          display: flex;
          margin-top: 50px;
          flex-direction: column;
          .shop_table {
            border: none;
            order: -1;
            display: table;
            border-collapse: collapse;
            margin:0;
            thead {

              tr {
                border-bottom: 1px solid #acacac;
                display: flex;
                justify-content: space-between;
                th{
                  font-family: "quicksand", sans-serif;
                  font-size: 17px;
                  font-weight: 600;
                  color:#3b3c3c;
                  text-align: center;
                  padding-left:0;
                  padding-right: 0;
                }
                th:first-child{
                  text-align: left;
                  width: 360px;
                }
                th.product-name{
                  display: none;
                }
                th.product-quantity{
                  padding-left: 15px;
                  input{

                  }
                }

              }
            }
            tbody {
              display: none;
            }
          }
          .cart_item{
            padding: 0;
            padding-top: 30px;

            .cart_product_image{
              padding-bottom: 0;
              padding-top: 0px;
              width: 200px;
              img{
                width: auto;
                max-height: unset;

              }
            }
            .cart_product_text{
              display: flex;
              justify-content: space-between;
              width: calc(100% - 200px);
              align-items: flex-start;
              .cart_product_title {
                font-family: "quicksand", sans-serif;
                font-size: 14px;
                font-weight: normal;
                text-transform: uppercase;
                color: #acacac;
                a {
                  font-family: "quicksand", sans-serif;
                  font-size: 17px;
                  font-weight: bold;
                  text-transform: uppercase;
                  color: #d6b488;
                  text-decoration: none;
                  margin-right: 5px;
                }
                .variation {
                  margin: 5px 0 15px 0;
                  color:#d6b488;
                  div{
                    margin: 5px 0 15px 0;
                    color:#d6b488;
                  }
                  .variation-Packege{
                    margin: 5px 0 15px 0;
                    color:#d6b488;
                  }
                }
              }
              .cart_product_remove{
                position: absolute;
                left: 194px;
                bottom: 80px;
                display: flex;
                align-items: center;
                a.remove{
                  margin-right: 5px;
                  font-size: 35px;
                  width: auto;
                  display: flex;
                  align-items: center;
                  .remove_by_x{
                    display: inline-block;
                    font-size:16px;
                    font-family: "Open Sans", sans-serif;
                    color: #acacac;
                    font-weight: 400;
                    margin-left: 5px;
                  }
                }
                a.remove:hover{
                  .remove_by_x {
                    display: inline-block;
                  }
                }

              }
              .cart_product_price{
                .price_tag{
                  display: none;
                }
                .amount{
                  padding: 0 15px;
                }
              }
              .cart_product_quantity{
                input{
                  width:3.631em;
                  margin: 0;
                }
              }
              .cart_product_total{
                .subtotal_tag{
                  display: none;
                }
                .amount{
                  padding: 0 15px;
                }
              }
              .product-name{
                a{
                  font-family: "quicksand", sans-serif;
                  font-weight:700;
                  color:#d6b488;
                  text-decoration: none;
                  font-size: 20px;
                }
                .variation{
                  display:inline-block;
                  margin: 0;
                  margin-left: 10px;

                  dt{
                    display:none;
                  }
                  dd{
                    font-size: 14px;
                    font-weight: 400;
                    font-family: "quicksand", sans-serif;
                    color: #d6b488;
                  }
                }

              }
            }
          }
        }

        .cart-collaterals{
          .cart_totals{
            .wc-proceed-to-checkout{

              a{
                width: 270px;
                float: right;
                display: inline-block;
              }
            }
            .shop_table{

              .order-total{
                margin-top: 30px;
                display: flex;
                justify-content: flex-end;
                align-items: baseline;
                font-family: "Open Sans", sans-serif;
                font-size: 17px;
                color:#3b3c3c;
                font-weight: 600;
                th{
                  width:auto;
                  padding-right: 0;
                  border: none;
                }
                td{
                  border: none;
                }
              }
            }
          }
        }
        .cont_shop{
          a{
            width: 270px !important;
            float: right;
            display: inline-block !important;
          }
        }
        .cont_shop:after{
          display: block;
          content: '';
          width:100%;
          height:0;
          clear:both;
        }
      }
    }
  }

}
@media screen and (min-width: 1024px) {
  .woocommerce-cart{
    #content {
      #main{
        padding: 0;

      }
    }

  }
}
