.site-footer {
  min-height: 300px;
  padding: 25px;
  width: 100%; }
  .site-footer .footer_wrapper {
    height: 100%; }
    .site-footer .footer_wrapper .footer_menu_container {
      float: left;
      width: 50%;
      height: 100%; }
      .site-footer .footer_wrapper .footer_menu_container .accordion_container {
        padding-left: 8%;
        box-sizing: border-box; }
        .site-footer .footer_wrapper .footer_menu_container .accordion_container .accordion_one_box .accordion_oppener {
          height: 40px;
          border-bottom: solid 1px #acacac;
          cursor: pointer; }
          .site-footer .footer_wrapper .footer_menu_container .accordion_container .accordion_one_box .accordion_oppener .oppener_title {
            height: 100%;
            line-height: 40px;
            font-weight: bold;
            color: #3b3c3c;
            font-size: 14px;
            float: left;
            text-transform: uppercase; }
          .site-footer .footer_wrapper .footer_menu_container .accordion_container .accordion_one_box .accordion_oppener .accordion_arrow:after {
            content: "\f105";
            display: inline-block;
            font-family: flaticon;
            width: 20px;
            height: 20px;
            transform: rotate(-90deg);
            float: right;
            margin-top: 7px;
            margin-right: 0px; }
          .site-footer .footer_wrapper .footer_menu_container .accordion_container .accordion_one_box .accordion_oppener .accordion_arrow.oppened:after {
            transform: rotate(90deg);
            margin-right: 4px; }
        .site-footer .footer_wrapper .footer_menu_container .accordion_container .accordion_one_box .accordion_one_box_body {
          display: none; }
          .site-footer .footer_wrapper .footer_menu_container .accordion_container .accordion_one_box .accordion_one_box_body .one_menu_element {
            height: 30px;
            line-height: 30px;
            list-style: none;
            padding: 0;
            text-decoration: none;
            display: block; }
            .site-footer .footer_wrapper .footer_menu_container .accordion_container .accordion_one_box .accordion_one_box_body .one_menu_element .one_menu_element_link {
              font-size: 14px;
              font-weight: 600;
              color: #d3d3d3;
              text-transform: uppercase; }
          .site-footer .footer_wrapper .footer_menu_container .accordion_container .accordion_one_box .accordion_one_box_body .footer_menu_list {
            margin: 0;
            padding: 0; }
    .site-footer .footer_wrapper .contact_us_futer_container {
      display: none; }
    .site-footer .footer_wrapper .secured_by_container {
      float: right;
      width: 50%; }
      .site-footer .footer_wrapper .secured_by_container .secured_by_title {
        font-size: 14px;
        font-weight: bold;
        color: #3b3c3c;
        height: 40px;
        line-height: 40px;
        text-align: center; }
      .site-footer .footer_wrapper .secured_by_container .secured_by_image {
        background: url(../images/secured-by.png) no-repeat center center;
        background-size: cover;
        width: 88px;
        height: 60px;
        position: relative;
        margin: 0px auto; }
    .site-footer .footer_wrapper .sub_footer {
      display: none; }
    .site-footer .footer_wrapper .clearfix {
      display: none; }

@media screen and (min-width: 1024px) {
  .site-footer {
    margin-top: 80px;
    margin-bottom: 50px; }
    .site-footer .footer_wrapper .footer_menu_container {
      float: right;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .site-footer .footer_wrapper .footer_menu_container .accordion_container {
        padding: 0;
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-right: 25px; }
        .site-footer .footer_wrapper .footer_menu_container .accordion_container .accordion_one_box .accordion_oppener {
          border: none;
          pointer-events: none;
          font-family: 'quicksand', Sans-Serif;
          color: #3b3c3c; }
          .site-footer .footer_wrapper .footer_menu_container .accordion_container .accordion_one_box .accordion_oppener .oppener_title {
            font-size: 24px;
            color: #3b3c3c;
            font-weight: 600; }
          .site-footer .footer_wrapper .footer_menu_container .accordion_container .accordion_one_box .accordion_oppener .accordion_arrow {
            display: none; }
        .site-footer .footer_wrapper .footer_menu_container .accordion_container .accordion_one_box .accordion_one_box_body {
          display: block;
          margin-top: 22px; }
          .site-footer .footer_wrapper .footer_menu_container .accordion_container .accordion_one_box .accordion_one_box_body .one_menu_element {
            height: auto;
            line-height: 1;
            margin-bottom: 25px;
            font-size: 17px;
            font-weight: 600; }
            .site-footer .footer_wrapper .footer_menu_container .accordion_container .accordion_one_box .accordion_one_box_body .one_menu_element .one_menu_element_link {
              font-size: 17px;
              text-decoration: none;
              font-weight: 600; }
    .site-footer .footer_wrapper .contact_us_futer_container {
      display: block;
      min-width: 213px;
      max-width: 20%; }
      .site-footer .footer_wrapper .contact_us_futer_container .comtact_us_title {
        font-size: 24px;
        height: 40px;
        line-height: 40px;
        font-weight: 600;
        color: #3b3c3c;
        font-family: 'quicksand', Sans-Serif; }
      .site-footer .footer_wrapper .contact_us_futer_container .textwidget {
        margin-top: 22px; }
        .site-footer .footer_wrapper .contact_us_futer_container .textwidget p {
          margin: 0; }
        .site-footer .footer_wrapper .contact_us_futer_container .textwidget p:first-child {
          height: 20px;
          font-size: 17px;
          line-height: 30px;
          color: #3b3c3c;
          font-weight: 600;
          line-height: 1.3; }
        .site-footer .footer_wrapper .contact_us_futer_container .textwidget p a {
          height: 30px;
          font-size: 17px;
          line-height: 30px;
          color: #d3d3d3;
          font-weight: 600;
          text-transform: uppercase;
          text-decoration: underline; }
      .site-footer .footer_wrapper .contact_us_futer_container .logo_image {
        margin-top: 18px;
        width: 213px;
        height: 63px;
        background: url("../images/logo_footer.png"); }
    .site-footer .footer_wrapper .sub_footer {
      display: block;
      width: 62%;
      float: right;
      border-top: solid 1px #acacac;
      height: 60px;
      margin-top: -44px; }
      .site-footer .footer_wrapper .sub_footer .copyrights_box {
        float: left; }
        .site-footer .footer_wrapper .sub_footer .copyrights_box .copyrights_title {
          display: none; }
        .site-footer .footer_wrapper .sub_footer .copyrights_box .textwidget p {
          height: 100%;
          font-size: 17px;
          line-height: 60px;
          color: #d3d3d3;
          margin: 0;
          text-transform: uppercase; }
      .site-footer .footer_wrapper .sub_footer .cards_images_box {
        float: right;
        width: 40%;
        height: 33px;
        background: url("../images/cards.png") no-repeat center;
        background-size: contain;
        margin-top: 14px; }
    .site-footer .footer_wrapper .secured_by_container {
      float: left;
      width: 100%;
      margin-top: 20px; }
      .site-footer .footer_wrapper .secured_by_container .secured_by_image {
        margin: 0;
        float: right; }
      .site-footer .footer_wrapper .secured_by_container .secured_by_title {
        float: left;
        line-height: 1.2; } }

/*# sourceMappingURL=footer.css.map */
