@import "vars";
.site-footer {
  min-height: 240px;
  padding: 25px;
  //border: solid 1px red;
  width: 100%;
  a{
    text-decoration: none;
  }
  .fast_checkout{
    position: fixed;
    bottom: -100px;
    width: 100%;
    background: #fff;
    border-top: 2px solid #d6b488;
    left: 0;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    color: #d6b488;
    font-weight: 700;
    font-family: 'quicksand', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
  }
  .fast_checkout.opend{
    bottom: 0;
  }
  .back_to_top {
    background: #fff;
    position: fixed;
    width: 50px;
    border: 3px solid #D6B488;
    border-right: none;
    height: 50px;
    bottom: 80px;
    right: -50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: right 0.3s ease-out;
  }
  .back_to_top.show {
    right: 0;
  }
  .flaticon-arrows::before{
    margin: 0 !important;
    transform: rotate(90deg);
    display: block;
    color: #D6B488;
    font-size: 17px;
    font-weight: 700;
  }
  .footer_wrapper {
    height: 100%;
    .footer_menu_container {
      float: left;
      width: 50%;
      height: 100%;
      .accordion_container {
        padding-left: 0;
        box-sizing: border-box;
        .accordion_one_box {
          .accordion_oppener {
            height: 40px;
            border-bottom: solid 1px $menu_border_color;
            cursor: pointer;
            .oppener_title {

              height: 100%;
              line-height: 40px;
              font-weight: bold;
              color: #3b3c3c;
              font-size: 14px;
              float: left;
              text-transform: uppercase;
            }
            .accordion_arrow:after{
              content: "\f105";
              display: inline-block;
              font-family: flaticon, sans-serif;
              width: 20px;
              height: 20px;
              transform: rotate(-90deg);
              float: right;
              margin-top: 7px;
              margin-right: 0;
            }
            //.accordion_arrow {
            //  float: right;
            //  width: 10px;
            //  height: 10px;
            //  //border-bottom: solid 1px #3b3c3c;
            //  //border-left: solid 1px #3b3c3c;
            //  content: "\f105";
            //  //transform: rotate(-45deg);
            //  position: relative;
            //  top: 12px;
            //  right: 7px;
            //}
            .accordion_arrow.oppened:after {
              transform: rotate(90deg);
              margin-right: 4px;
            }
          }
          .accordion_one_box_body {
            display: none;
            .one_menu_element/*, .footer_menu_list>li, .footer_menu_list>li>a*/ {
              height: 30px;
              line-height: 30px;
              list-style: none;
              padding: 0;
              text-decoration: none;
              display: block;
              .one_menu_element_link{
                font-size: 14px;
                font-weight: 600;
                color: #acacac;
                text-transform: uppercase;
              }
            }

            .footer_menu_list{
              margin:0;
              padding:0;
            }
          }

        }
      }
    }
    .contact_us_futer_container{
      display: block;
      .comtact_us_title{
        height: 100%;
        line-height: 40px;
        font-weight: bold;
        color: #3b3c3c;
        font-size: 14px;
        float: none;
        text-transform: uppercase;
        border-bottom: solid 1px #acacac;
        cursor:pointer;
        position: relative;
      }
      .comtact_us_title::after {
        content: "\f105";
        display: inline-block;
        font-family: flaticon, sans-serif;
        /* width: 20px; */
        /* height: 20px; */
        font-size: 17px;
        font-weight: 300;
        transform: rotate(-90deg);
        position: absolute;
        top: 1px;
        right: 2px;
      }
      .comtact_us_title.open_contact::after {
        transform: rotate(90deg);
      }
      .textwidget{
        display: none;
        p{
          margin: 7px 0;
        }
      }
      .secured_by_container{
        display: none;
      }
      .logo_image{
        display: none;
      }
    }
    .secured_by_container {
      float: right;
      width: 50%;
      .secured_by_title {
        font-size: 17px;
        padding-top: 2px;
        font-weight: bold;
        color: #3b3c3c;
        text-align: center;
      }
      .secured_by_image {
        //background: url(../images/secured-by.png) no-repeat center center ;
        background-size: cover;
        //width: 98px;
        //height: 72px;
        position: relative;
        margin: 0 auto;
      }

    }
    .secured_by_container.mobile {
      float: right;
      width: 50%;
      position:relative;
      top:8px;
      .secured_by_title {
        font-size: 14px;
        padding-top: 2px;
        font-weight: bold;
        color: #3b3c3c;
        text-align: right;
        margin-bottom: 15px;
      }
      .secured_by_image {
        background: none;
        //background-size: cover;
        width: auto;
        height: auto;
        position: relative;
        //margin: 0px auto;
        text-align: right;
      }

    }
    .sub_footer{
      display: none;
    }
    .clearfix{
      display: none;
    }
  }
}

@media screen and (min-width: 1024px) {
  .home{
    .site-footer {
      background: #fff;
    }
  }
  .site-footer {
    //margin-top: 80px;
    padding: 80px 20px 60px 20px;
    background: #f6f8f9;
    position: relative;
    .fast_checkout{
      position: fixed;
      width: 230px;
      height: 60px;
      background: #fff;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      bottom: -60px;
      border: 3px solid #D6B487;
      border-bottom: none;
      right: calc((100vw - 1215px)/2);
      z-index: 5;
      cursor: pointer;
      transition: bottom 0.3s ease-out;
      left:unset;
    }
    .fast_checkout.opend{
      bottom:0;
    }
    .flaticon-business {
      justify-content: center;
      display: flex;
      align-items: center;
      font-size: 17px;
      font-weight: 600;
      flex-direction: row-reverse;
      color: #d8b387;
      text-transform: uppercase;
    }
    .back_to_top{
      background: #fff;
      position: fixed;
      width: 50px;
      border: 3px solid #D6B488;
      border-right: none;
      height: 50px;
      bottom: 30vh;
      right: -50px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: right 0.3s ease-out;
    }
    .back_to_top.show{
      right: 0;
    }
    .flaticon-arrows::before{
      margin: 0 !important;
      transform: rotate(90deg);
      display: block;
      color: #D6B488;
      font-size: 17px;
      font-weight: 700;
    }
    .footer_wrapper {
      .secured_by_container.mobile{
        display: none;
      }
      .footer_menu_container {
        float: none;
        width: 100%;
        display:flex;
        justify-content: space-between;
        align-items: center;

        .accordion_container {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          padding: 0 25px 0 0;
          .accordion_one_box{
            .accordion_oppener{
              border: none;
              pointer-events: none;
              font-family: 'quicksand', sans-serif;
              color: #3b3c3c;
              .oppener_title{
                font-size: 24px;
                color: #3b3c3c;
                font-weight: 700;
              }
              .accordion_arrow{
                display: none;
              }
            }
            .accordion_one_box_body{
              display: block;
              margin-top: 22px;
              .one_menu_element {
                height: auto;
                line-height: 1;
                margin-bottom: 25px;
                font-size: 17px;
                font-weight: 600;
                .one_menu_element_link {
                  font-size: 17px;
                  text-decoration: none;
                  font-weight: 600;
                }
              }
            }
          }
          .accordion_one_box:last-child{

          }
        }
      }
      //.secured_by_container{
      //  float: right;
      //  max-width: 20%;
      //  margin-right: 8%;
      //  .secured_by_title{
      //    font-size: 24px;
      //  }
      //}
      .contact_us_futer_container{
        display: block;
        min-width: 213px;
        max-width: 20%;
        .textwidget{
          display: block;
        }
        .secured_by_container{
          display: block;
        }
        .logo_image{
          display: block;
        }
        .comtact_us_title{
          font-size: 24px;
          height: 40px;
          line-height: 40px;
          font-weight: 700;
          color: #3b3c3c;
          font-family: 'quicksand', sans-serif;
          border: none;
        }
        .comtact_us_title::after {
          display: none;
        }
        .textwidget{
          margin-top: 22px;
          p{margin: 0}
          p:first-child{
            height: 20px;
            font-size: 20px;
            color: #3b3c3c;
            font-weight: 600;
            line-height: 1.3;
            margin-bottom: 7px;
          }
          p a{
            height: 30px;
            font-size: 17px;
            line-height: 30px;
            color:#acacac;
            font-weight: 600;
            text-transform: uppercase;
            text-decoration: underline;

          }

        }
        .logo_image{
          margin-top: 18px;
          width: 213px;
          height: 63px;
          background: url("../images/logo_footer.png");
        }

      }
      .sub_footer{
        display: block;
        width: 62%;
        float: right;
        border-top: solid 1px #acacac;
        height: 60px;
        margin-top: -44px;
        .copyrights_box{
          float: left;
          .copyrights_title{
            display: none;
          }
          .textwidget p{
            height: 100%;
            font-size: 17px;
            line-height: 60px;
            color: #acacac;
            margin: 0;
            text-transform: uppercase;
            font-weight: 600;

          }
        }
        .cards_images_box{
          float: right;
          width: 40%;
          height: 33px;
          background: url("../images/cards.png") no-repeat center;
          background-size: contain;
          margin-top: 14px;
        }
      }
      .secured_by_container{
        float: left;
        width: 100%;
        margin-top:20px;
        .secured_by_image{
          margin: 0;
          float: right;
        }
        .secured_by_title{
          float: left;
          line-height: 1.2;
        }
      }
    }
  }
  .hide_screen_box{

  }
}