.xoo-wsc-basket {
  display: none; }

.xoo-wsc-opac {
  display: none; }

body .hide_screen_box {
  background: black;
  height: 150%;
  position: absolute;
  width: 100%;
  z-index: 100;
  opacity: .1; }

#main-header {
  height: 57px;
  background: #f6f8f9;
  padding: 0 22px;
  max-width: none; }
  #main-header .cart_w {
    display: none; }
  #main-header .logo_container {
    position: relative;
    top: 0; }
  #main-header .logo_container > img {
    width: auto;
    height: 23px; }
  #main-header .logo_container > img:last-child {
    display: none; }
  #main-header .logo_container > img:first-child {
    display: block; }
  #main-header .open_menu.logo_container > img:first-child {
    display: none; }
  #main-header .open_menu.logo_container > img:last-child {
    display: block; }
  #main-header .flaticon-business {
    color: #231F20; }
  #main-header .flaticon-business.mobile {
    display: inline-block;
    position: relative; }
    #main-header .flaticon-business.mobile .header-cart-count {
      position: absolute;
      right: 10px;
      top: 8px; }
  #main-header .flaticon-business.desktop {
    display: none; }
  #main-header .flaticon-business:before {
    margin: 0;
    font-size: 29px;
    color: inherit; }
  #main-header .open_menu.flaticon-business {
    color: #D6B488; }
  #main-header .desktop_menu_panel {
    display: none; }
  #main-header .mobile_menu_panel {
    top: 0;
    left: 0;
    transform: translateX(-100%);
    width: 100vw;
    height: 100vh;
    background: #fff;
    transition: 0.5s ease-out;
    padding-top: 100px;
    display: flex;
    justify-content: center; }
    #main-header .mobile_menu_panel .nav_container {
      width: 180px;
      padding: 0 15px;
      margin: 0 auto; }
      #main-header .mobile_menu_panel .nav_container .main-menu > ul {
        margin: 0;
        padding: 0; }
        #main-header .mobile_menu_panel .nav_container .main-menu > ul li {
          margin: 0;
          padding: 0;
          list-style: none; }
          #main-header .mobile_menu_panel .nav_container .main-menu > ul li a, #main-header .mobile_menu_panel .nav_container .main-menu > ul li a:visited, #main-header .mobile_menu_panel .nav_container .main-menu > ul li a:focus, #main-header .mobile_menu_panel .nav_container .main-menu > ul li a:hover {
            color: #575656;
            text-decoration: none;
            font-size: 16px;
            font-weight: 700;
            text-transform: capitalize;
            line-height: 2; }
  #main-header .mobile_menu_panel.open_menu {
    transform: translateX(0%); }
  #main-header .hamburger {
    height: 19px;
    width: 21px;
    flex-direction: column;
    position: relative;
    top: 0;
    color: #231f20; }
    #main-header .hamburger .hamburger_line {
      width: 100%;
      height: 3px;
      background: #231f20; }
  #main-header .open_menu.hamburger {
    color: #d6b488; }
  #main-header .hamburger > .hamburger_line {
    opacity: 1;
    transition: 0s 0.2s; }
  #main-header .open_menu.hamburger > .hamburger_line {
    opacity: 0;
    transition: 0s 0.2s; }
  #main-header .hamburger::before {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background: #231f20;
    color: inherit;
    position: absolute;
    top: calc(0% - 0px);
    transition: top 0.2s ease-out 0.2s, transform 0.2s ease-in; }
  #main-header .open_menu.hamburger::before {
    position: absolute;
    top: calc(50% - 2px);
    transform: rotate(-45deg);
    width: 23px;
    background: #d6b488;
    transition: top 0.2s ease-out , transform 0.2s ease-in 0.2s; }
  #main-header .hamburger::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background: #231f20;
    color: inherit;
    position: absolute;
    bottom: calc(0% - 0px);
    transition: bottom 0.2s ease-out 0.2s, transform 0.2s ease-in; }
  #main-header .open_menu.hamburger::after {
    position: absolute;
    bottom: calc(50% - 1px);
    transform: rotate(45deg);
    width: 23px;
    background: #d6b488;
    transition: bottom 0.2s ease-out, transform 0.2s ease-in 0.2s; }

#content {
  margin-top: 57px;
  padding-top: 30px; }

@media screen and (min-width: 1024px) {
  body .hide_screen_box {
    background: black;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 100;
    opacity: .1; }

  #main-header {
    height: 90px; }
    #main-header a {
      text-decoration: none; }
    #main-header .logo_container > img {
      width: auto;
      height: 34px; }
    #main-header #cart_icon {
      text-decoration: none; }
      #main-header #cart_icon .cart_w {
        font-size: 17px;
        font-weight: 600;
        color: #575656;
        text-decoration: none;
        margin-right: 15px;
        display: inline-block; }
    #main-header #cart_icon::before {
      content: '|';
      display: inline-block;
      font-size: 26px;
      position: relative;
      top: 0;
      left: -30px;
      margin: 0;
      font-weight: 400;
      color: #575656; }
    #main-header .flaticon-business:before {
      font-size: 32px;
      color: inherit;
      font-weight: 400;
      margin: 0 0 0 0; }
    #main-header .flaticon-business {
      position: relative;
      display: flex;
      align-items: center;
      font-size: 17px;
      font-weight: 600;
      flex-direction: row-reverse;
      color: #575656;
      text-transform: capitalize;
      cursor: pointer;
      top: 2px; }
    #main-header .flaticon-business.mobile {
      display: none; }
    #main-header .flaticon-business.desktop {
      display: inline-block; }
      #main-header .flaticon-business.desktop .header-cart-count {
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        top: 9px; }
    #main-header .flaticon-business::after {
      display: inline-block;
      font-size: 26px;
      position: absolute;
      top: 0;
      left: -50px;
      margin: 0;
      font-weight: 400; }
    #main-header .desktop_menu_panel {
      display: flex; }
      #main-header .desktop_menu_panel .nav_container .main-menu-list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        #main-header .desktop_menu_panel .nav_container .main-menu-list li {
          list-style: none;
          margin: 0;
          padding: 0 25px; }
          #main-header .desktop_menu_panel .nav_container .main-menu-list li a, #main-header .desktop_menu_panel .nav_container .main-menu-list li a:visited, #main-header .desktop_menu_panel .nav_container .main-menu-list li a:focus {
            color: #575656;
            font-size: 17px;
            font-weight: 600;
            text-decoration: none;
            text-transform: capitalize; }
    #main-header .mobile_menu_panel {
      display: none; }
    #main-header .hamburger {
      display: none; } }

/*# sourceMappingURL=header.css.map */
