@import "vars";
.xoo-wsc-basket{
  display: none;
}
.xoo-wsc-opac{
  display: none;
}

#main-header{
  height:57px;
  background:#f6f8f9;
  padding: 0 22px;
  max-width: none;
  .logo_container {
    position: relative;
    top: 0;
  }
  .logo_container>img{
    width: auto;
    height: 23px;
  }
  .logo_container>img:last-child{
    display:none;
  }
  .logo_container>img:first-child{
    display:block;
  }
  .open_menu.logo_container>img:first-child{
    display:none;
  }
  .open_menu.logo_container>img:last-child{
    display:block;
  }
  .flaticon-business{
    color:#231F20;
    .header-cart-count{
      position: absolute;
      right: 11px;
      top: 8px;
    }
  }
  .flaticon-business:before{
    margin:0;
    font-size: 29px;
    color: inherit;
  }
  .open_menu.flaticon-business{
    color:#D6B488;
  }
  .desktop_menu_panel{
    display:none;
  }
  .mobile_menu_panel{
    top:0;
    left:0;
    transform:translateX(-100%);
    width: 100vw;
    height:100vh;
    background:#fff;
    transition: 0.5s ease-out;
    padding-top: 100px;
    display:flex;
    justify-content: center;
    .nav_container{
      width:180px;
      padding: 0 15px;
      margin: 0 auto;
      .main-menu>ul{
        margin:0;
        padding:0;
        li{
          margin:0;
          padding:0;
          list-style :none;
          a,a:visited,a:focus,a:hover{
            color:#575656;
            text-decoration: none;
            font-size:16px;
            font-weight: 700;
            text-transform: capitalize;
            line-height: 2;
          }
        }
      }
    }
  }
  .mobile_menu_panel.open_menu{
    transform:translateX(0%);
  }
  .hamburger{
    height:18px;
    width: 21px;
    flex-direction: column;
    position: relative;
    top: 0;
    color: #231f20;
    .hamburger_line{
      width:100%;
      height:3px;
      background: #231f20;
    }
  }
  .open_menu.hamburger{
    color:#d6b488;
    //ransition: 0 0.2s;
  }
  .hamburger>.hamburger_line{
    opacity:1;
    transition: 0s 0.2s;
  }
  .open_menu.hamburger>.hamburger_line{
    opacity:0;
    transition: 0s 0.2s;
  }
  .hamburger::before{
    content: '';
    display: block;
    width:100%;
    height:3px;
    background: #231f20;
    color: inherit;
    position:absolute;
    top: calc(0% - 0px);
    transition: top 0.2s ease-out 0.2s, transform 0.2s ease-in ;
  }
  .open_menu.hamburger::before{
    position: absolute;
    top: calc(50% - 2px);
    transform: rotate(-45deg);
    width: 23px;
    background: #d6b488;
    transition: top 0.2s ease-out , transform 0.2s ease-in 0.2s;
  }
  .hamburger::after{
    content: '';
    display: block;
    width:100%;
    height:3px;
    background: #231f20;
    color: inherit;
    position: absolute;
    bottom: calc(0% - 0px);
    transition: bottom 0.2s ease-out 0.2s, transform 0.2s ease-in ;
  }
  .open_menu.hamburger::after{
    position: absolute;
    bottom: calc(50% - 1px);
    transform: rotate(45deg);
    width: 23px;
    background: #d6b488;
    transition: bottom 0.2s ease-out, transform 0.2s ease-in 0.2s;
  }
}

#content{
  margin-top: 57px;
  padding-top: 30px;
}



@media screen and (min-width: 1024px){

  #main-header{
    height:90px;
    .logo_container > img {
      width: auto;
      height: 34px;
    }
    #cart_icon.xoo-wsc-basket{

    }
    .flaticon-business:before {
      font-size: 32px;
      color: inherit;
      font-weight: 400;
      margin: 0 0 0 27px;
    }
    .flaticon-business {
      position: relative;
      display: flex;
      align-items: center;
      font-size: 17px;
      font-weight: 600;
      flex-direction: row-reverse;
      color: #575656;
      text-transform: capitalize;
    }
    .flaticon-business::after{
      content: '|';
      display: inline-block;
      font-size: 26px;
      position: absolute;
      top: 0;
      left: -50px;
      margin: 0;
      font-weight: 400;
      .header-cart-count{
        position: absolute;
        right: 11px;
        top: 8px;
      }
    }
    .desktop_menu_panel{
      display: flex;
      .nav_container{
        .main-menu-list{
          list-style: none;
          padding:0;
          margin:0;
          display:flex;
          justify-content: space-between;
          align-items: center;
          li{
            list-style: none;
            margin:0;
            padding: 0 25px;
            a, a:visited, a:focus{
              color: #575656;
              font-size: 17px;
              font-weight:600;
              text-decoration: none;
              text-transform: capitalize;
            }
          }
        }
      }
    }
    .mobile_menu_panel {
      display: none;
    }
    .hamburger{
      display:none;
    }
  }

}











