.content_container{
  display: none;
}
.content_container_mobile{
  display: block;
  position: relative;
  width: 100%;
  margin: 0 auto;
  .content_header_image{
    height: 62px;
    width: 100%;
    margin: 0 auto;
    background: #d6b488 url("../images/logo_white_noback_03.png") no-repeat center center;

  }
  .content_title {
    text-transform: uppercase;
    font-family: "quicksand", sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #575656;
    margin: 20px auto 0 0;
    //margin-left: 4%;
  }
  .content_body {
    width: 100%;
    color:#686868;
    .text_box{
      width: 100%;
      margin: 0 auto;
    }
  }
  .content_body_read_more{
    display: none;
    color:#686868;
  }
  .content_body_read_more{
    color:#686868;
    .text_box{
      width: 100%;
      margin: 0 auto;
    }
  }
  .read_more{
    width: 100%;
    margin:auto;
    cursor: pointer;
    line-height: 2;
    color:#686868;
  }
  .read_more::after{
    content: "\f105";
    font-family: Flaticon;
    font-size: inherit;
    font-style: normal;
    margin-left: 10px;
    display: inline-block;
    transform: rotate(180deg);
  }
  .read_more.opend{
    //background:#F6F8F9;
    line-height: 2;
    border-bottom: 1px solid #acacac;
    margin-bottom: 10px;
  }
  .read_more.opend::after{
    transform: rotate(-90deg);
  }
  .read_more::after{
    content: "\f105";
    font-family: Flaticon;
    font-size: 10px;
    font-style: normal;
    margin-left: 10px;
    display: inline-block;
  }
  .read_less{
    display: none;
    width: 100%;
    margin:auto;
    cursor: pointer;
    position: relative;
  }
  .read_less::after {
    font-family: Flaticon;
    font-size: 28px;
    font-style: normal;
    margin-left: 10px;
    color: #333;
    content: "+";
    display: inline-block;
    transform: rotate(45deg);
    /* width: 16px; */
    /* height: 16px; */
    position: absolute;
    top: -4px;
  }

}








@media screen and (min-width: 1020px) {
  .content_container_mobile{
    display: none;
  }
  .content_container {
    display: block;
    position: relative;
    width: 927px;
    margin: 0 auto;
    .content_title {
      text-transform: uppercase;
      font-family: "quicksand", sans-serif;
      font-size: 24px;
      font-weight: 700;
      color: #575656;
      margin-bottom: 15px;
    }
    .content_body {
      position: relative;
      display: flex;
      width: 100%;
      justify-content: space-between;
      color:#686868;
      .hidden_container {
        display: none;
        width: 40%;
      }
      .text_box_left, .text_box_rigth {
        width: 45%;
      }
    }
    .read_more {
      cursor: pointer;
      line-height: 2;
      color:#686868;
    }
    .read_more::after{
      content: "\f105";
      font-family: Flaticon;
      font-size: inherit;
      font-style: normal;
      margin-left: 10px;
      display: inline-block;
      transform: rotate(180deg);
      color:#686868;
    }
    .read_more.opend{
      //background:#F6F8F9;
      line-height: 2;
      border-bottom: 1px solid #acacac;
      margin-bottom: 10px;
    }
    .read_more.opend::after{
      transform: rotate(-90deg);
    }
    .content_body_read_more {
      color:#686868;
      display: none;
      position: relative;
      //display: flex;
      width: 100%;
      justify-content: space-between;
      .hidden_container_read_more {
        display: none;
        width: 40%;
      }
      .text_box_left_read_more, .text_box_rigth_read_more {
        width: 45%;

      }
    }
    .read_less::after {
      font-family: Flaticon;
      font-size: 28px;
      font-style: normal;
      margin-left: 10px;
      color:#686868;
      content: "+";
      display: inline-block;
      transform: rotate(45deg);
      /* width: 16px; */
      /* height: 16px; */
      position: absolute;
      top: -4px;
    }
    .read_less {
      color:#686868;
      cursor: pointer;
      display: none;
      position:relative;
    }
    .content_footer {
      width: 100%;
      height: 64px;
      background: url("../images/content_footer-1920px.jpg") no-repeat center center;
      margin-top: 20px;
    }
  }
}