.content_container {
  display: none; }

.content_container_mobile {
  display: block;
  position: relative;
  width: 100%;
  margin: 0 auto; }
  .content_container_mobile .content_header_image {
    height: 62px;
    width: 100%;
    margin: 0 auto;
    background: #d6b488 url("../images/logo_white_noback_03.png") no-repeat center center; }
  .content_container_mobile .content_title {
    text-transform: uppercase;
    font-family: "quicksand", sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #575656;
    margin: 20px auto 0 0; }
  .content_container_mobile .content_body {
    width: 100%;
    color: #686868; }
    .content_container_mobile .content_body .text_box {
      width: 100%;
      margin: 0 auto; }
  .content_container_mobile .content_body_read_more {
    display: none;
    color: #686868; }
  .content_container_mobile .content_body_read_more {
    color: #686868; }
    .content_container_mobile .content_body_read_more .text_box {
      width: 100%;
      margin: 0 auto; }
  .content_container_mobile .read_more {
    width: 100%;
    margin: auto;
    cursor: pointer;
    line-height: 2;
    color: #686868; }
  .content_container_mobile .read_more::after {
    content: "\f105";
    font-family: Flaticon;
    font-size: inherit;
    font-style: normal;
    margin-left: 10px;
    display: inline-block;
    transform: rotate(180deg); }
  .content_container_mobile .read_more.opend {
    line-height: 2;
    border-bottom: 1px solid #acacac;
    margin-bottom: 10px; }
  .content_container_mobile .read_more.opend::after {
    transform: rotate(-90deg); }
  .content_container_mobile .read_more::after {
    content: "\f105";
    font-family: Flaticon;
    font-size: 10px;
    font-style: normal;
    margin-left: 10px;
    display: inline-block; }
  .content_container_mobile .read_less {
    display: none;
    width: 100%;
    margin: auto;
    cursor: pointer;
    position: relative; }
  .content_container_mobile .read_less::after {
    font-family: Flaticon;
    font-size: 28px;
    font-style: normal;
    margin-left: 10px;
    color: #333;
    content: "+";
    display: inline-block;
    transform: rotate(45deg);
    /* width: 16px; */
    /* height: 16px; */
    position: absolute;
    top: -4px; }

@media screen and (min-width: 1020px) {
  .content_container_mobile {
    display: none; }

  .content_container {
    display: block;
    position: relative;
    width: 927px;
    margin: 0 auto; }
    .content_container .content_title {
      text-transform: uppercase;
      font-family: "quicksand", sans-serif;
      font-size: 24px;
      font-weight: 700;
      color: #575656;
      margin-bottom: 15px; }
    .content_container .content_body {
      position: relative;
      display: flex;
      width: 100%;
      justify-content: space-between;
      color: #686868; }
      .content_container .content_body .hidden_container {
        display: none;
        width: 40%; }
      .content_container .content_body .text_box_left, .content_container .content_body .text_box_rigth {
        width: 45%; }
    .content_container .read_more {
      cursor: pointer;
      line-height: 2;
      color: #686868; }
    .content_container .read_more::after {
      content: "\f105";
      font-family: Flaticon;
      font-size: inherit;
      font-style: normal;
      margin-left: 10px;
      display: inline-block;
      transform: rotate(180deg);
      color: #686868; }
    .content_container .read_more.opend {
      line-height: 2;
      border-bottom: 1px solid #acacac;
      margin-bottom: 10px; }
    .content_container .read_more.opend::after {
      transform: rotate(-90deg); }
    .content_container .content_body_read_more {
      color: #686868;
      display: none;
      position: relative;
      width: 100%;
      justify-content: space-between; }
      .content_container .content_body_read_more .hidden_container_read_more {
        display: none;
        width: 40%; }
      .content_container .content_body_read_more .text_box_left_read_more, .content_container .content_body_read_more .text_box_rigth_read_more {
        width: 45%; }
    .content_container .read_less::after {
      font-family: Flaticon;
      font-size: 28px;
      font-style: normal;
      margin-left: 10px;
      color: #686868;
      content: "+";
      display: inline-block;
      transform: rotate(45deg);
      /* width: 16px; */
      /* height: 16px; */
      position: absolute;
      top: -4px; }
    .content_container .read_less {
      color: #686868;
      cursor: pointer;
      display: none;
      position: relative; }
    .content_container .content_footer {
      width: 100%;
      height: 64px;
      background: url("../images/content_footer-1920px.jpg") no-repeat center center;
      margin-top: 20px; } }

/*# sourceMappingURL=home_page_content.css.map */
