/*
Styles for Single post
*/
.page:not(.home){
  #primary{
    #main{
      .h1_ty{
        font-size: 24px!important;
      }
      .h4_ty{
        font-size: 24px !important;
      }
      margin-bottom:60px;
      p{
        color: #686868;
        font-size: 16px;


      }
      div{
        color: #686868;
        font-size: 16px;
      }
    }
  }
}



.page:not(.home){
  #primary{
    .content_header_image {
      height: 62px;
      width: 100%;
      margin: 0 auto;
      background: #d6b488 url(../images/logo_white_noback_03.png) no-repeat center center;
    }
    .page_content{
      margin: 30px 0;
      color: #686868;
    }
    width: 100%;
    padding: 0 22px;
    max-width: 927px;
    margin: 60px auto 50px auto;
    min-height: calc(100vh - 500px);
    display: flex;
    align-items: center;
    h1,h2,h3,h4{
      color: #686868;
      font-size: 24px;
      font-weight: bold;

    }
  }
}
.single-post #main{
  width: 90%;
  max-width: 927px;
  margin: 30px auto;
  min-height:calc(100vh - 500px);
}

@media screen and (min-width: 950px) {
  .page:not(.home){
    #primary{
      #main{
        .h1_ty{
          font-size: 55px !important;
        }
        .h4_ty{
          font-size: 30px !important;
        }
        .thankyou_page{
          font-size: 25px;
          color: #686868;
          p{
            font-size: 25px;
            color: #686868;
          }
        }
      }
      width:100%;
      padding: 0;
      max-width: 927px;
      margin: 60px auto 50px auto;
    }
  }
}


@media screen and (min-width: 1024px) {

  .single-post #main{
    margin: 60px auto;
    p, span, a, li, ul, div{
      font-size: 17px;
      font-weight: 400;
      margin: 25px 0;
    }
    h1{
      font-size: 24px;
      font-weight: 700;
    }
    h2,h3,h4{
      font-size: 22px;
      font-weight: 700;
    }
  }
  .page:not(.home){
    #primary{
      #main{
        margin-bottom:100px;
        p{
          color: #686868;
          font-size: 16px;


        }
        div{
          color: #686868;
          font-size: 16px;
        }
      }
    }
  }

}