.special_offers_container{
  padding: 120px 0 60px 0;
  position: relative;
  background-color:#ececec ;
  .special_offers_title{
    font-family: "quicksand", sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    color: #575656;
    margin: 0 0 0 0;
    text-align: center;
  }
  .cards_container{
    width: 100%;
    max-width: 927px;
    margin: auto;
    margin-top: 90px;
    margin-bottom: 80px;
    //border:solid 1px #000;
    .special_offers{
      margin-top: 45px;
      background-color: #fff;
      display: flex;
      justify-content: center;
      .product_data_container{
        width: 57%;
        height: 100%;
        padding-left: 6%;
        padding-top: 46px;
        position: relative;
        .product_title_decktop{
          display: block;
          color: #d6b488;
          text-transform: uppercase;
          font-family: 'quicksand', sans-serif;
          //margin-left: 50%;
          .word_split{
            margin-top:0;
            .word1{
              font-size: 40px;
              font-weight: 600;
              display: block;
            }
            .word2{
              font-size: 70px;
              font-weight: 600;
              display: block;
            }
          }
          .first_string {
            font-size: 36px;
            font-weight: 300;
          }
          .second_string {
            font-size: 62px;
            font-weight: 600;
          }
        }
        .product_title_mobile{
          display: none;
        }
        .product_description{
          margin: -10px 42px 0 0;
          font-family: "Open Sans", sans-serif;
          font-size: 25px;
          color:#686868;
          font-weight: 300;
          line-height: 1.1;
        }
        .product_price{
          color: #686868;
          font-size: 35px;
          font-weight: bold;
          margin-top: 5px;
          margin-bottom: 10px;
        }
        .shop_now_button{
          width: 47%;
          max-width: 200px;
          border: solid 3px #d6b488;
          color: #d6b488;
          position: absolute;
          text-align: center;
          text-transform: uppercase;
          line-height: 46px;
          font-weight: 700;
          font-size: 20px;
          font-family: 'quicksand', sans-serif;
          cursor: pointer;
        }
      }
      .product_image_container{
        width: 50%;
        height: 100%;
        .product_image_decktop{
          display: block;
        }
        .product_image_mobile{
          display: none;
        }


      }
      .shop_now_mobile{
        display: none;
      }
    }
    .special_offers[card_name="neck_decollete"]{
      .product_data_container{
        .product_title_decktop{
          color: #ef488b;
          .word_split{
            margin-top:10px;
            .word1{
              font-size: 52px;
            }
            .word2{
              font-size: 34px;
            }
          }
          .first_string {
            font-size: 36px;
            font-weight: 300;
          }
          .second_string {
            font-size: 62px;
            font-weight: 600;
          }
        }
        .product_title_mobile{
        }
        .product_description{
        }
        .product_price{
        }
        .shop_now_button{
          border: solid 3px #ef488b;
          color: #ef488b;
        }
      }
      .product_image_container{
        .product_image_decktop{
        }
        .product_image_mobile{
        }
      }
      .shop_now_mobile{
      }
    }
    .special_offers[card_name="booster_active"]{
      .product_data_container{
        .product_title_decktop{
          color: #5233c0;
          .word_split{
            margin-top:10px;
            .word1{
              font-size: 40px;
            }
            .word2{
              font-size: 55px;
            }
          }
          .first_string {
            font-size: 36px;
            font-weight: 300;
          }
          .second_string {
            font-size: 62px;
            font-weight: 600;
          }
        }
        .product_title_mobile{
        }
        .product_description{
        }
        .product_price{
        }
        .shop_now_button{
          border: solid 3px #5233c0;
          color: #5233c0;
        }
      }
      .product_image_container{
        .product_image_decktop{
        }
        .product_image_mobile{
        }
      }
      .shop_now_mobile{
      }
    }
  }

}

@media screen and (max-width: 1020px) {
  .special_offers[card_name="neck_decollete"] {
    .shop_now_button{
      border: solid 3px #ef488b !important;
      color: #ef488b !important;
    }
    .product_data_container {
      .product_title_mobile {
        color: #ef488b !important;
      }
    }
  }
  .special_offers[card_name="booster_active"] {
    .shop_now_button{
      border: solid 3px #5233c0 !important;
      color: #5233c0 !important;
    }
    .product_data_container {
      .product_title_mobile {
        color: #5233c0 !important;
      }
    }
  }
  .special_offers_container {
    padding: 30px 0 60px 0;
    position: relative;
    background-color: #ececec;
    .special_offers_title{
      font-family: "quicksand", sans-serif;
      text-transform: uppercase;
      font-size: 24px;
      font-weight: 700;
      color: #575656;
      margin: 0 0 0 0;
      text-align: left;
      padding: 0 22px;
    }
      .cards_container{
      width: 90%;
        margin-top: 30px;
        margin-bottom: 0px;
      .special_offers{
        margin-top: 30px;
        background-color: #fff;
        display: block;
        padding-bottom: 10px;

        //justify-content: center;
        .product_data_container{
          width: 100%;
          position: relative;
          padding: 30px 5% 5% 5%;
          .product_title_decktop{
            display: none;
          }
          .product_title_mobile{
            display: block;
            color: #d6b488;
            font-size: 20px;
            font-weight: 700;
            text-transform: uppercase;
            font-family: 'quicksand', sans-serif;
          }
          .product_description{
            margin: 12px 20% 0 0;
            font-family: "Open Sans", sans-serif;
            font-size: 16px;
            color: #686868;
          }
          .product_price{
            color: #686868;
            font-size: 35px;
            font-weight: bold;
            margin-top: 10px;
          }
          .shop_now_button.shop_now_decktop{
            display: none;

          }
        }
        .product_image_container{
          width: 100%;
          height: auto;
          .product_image_decktop{
            display: none;
          }
          .product_image_mobile{
            display: block;
            margin: 0 auto;
            max-width: 100%;
          }


        }
        .shop_now_mobile{
          display: block;
          width: 1000%;
          max-width: 180px;
          border: solid 3px #d6b488;
          color: #d6b488;
          position: relative;
          text-align: center;
          text-transform: uppercase;
          line-height: 46px;
          font-weight: 700;
          cursor: pointer;
          font-size: 20px;
          margin: 20px auto;
          font-family: 'quicksand', sans-serif;
        }
      }
    }
  }
}