.review_title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  color: #575656;
  text-align: left;
  font-family: 'quicksand',sans-serif;
  width: 100%;
  margin: 40px auto 0 auto;
  padding: 0 22px;

}
.testomanials_slider_container {
  margin-bottom: 40px;
  .slick-dots {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 40px;
    align-items: center;
    li {
      width: 10px;
      height: 10px;
      border-radius: 6px;
      border: solid 1px #acacac;
      margin: 0 6px;
      background-color: #acacac;
      cursor:pointer;
      button {
        background: none;
        border: none;
        outline: none;

      }
    }
    .slick-active {
      margin: 0 6px;
      padding: 0;
      border: solid 1px #3b3c3c;
      background: #3b3c3c none;
      height: 15px;
      width: 15px;
      border-radius: 50%;
      outline: none;
      transform: translateY(-1px);
    }
  }

  .one_review_box {
    position: relative;
    outline: none;
    .one_review_body {
      width: 90%;
      margin: 20px auto 0 auto;
      text-align: center;
      font-family: "quicksand", sans-serif;

      .review_text {
        color: #686868;
        margin: 0 auto;
        margin-top: 20px;
        font-size: 16px;
        font-family: "Open Sans", sans-serif;
        max-width:500px;
      }
      .review_name {
        color: #686868;
        margin-top: 20px;
        font-size: 16px;
        font-family: "Open Sans", sans-serif;
      }
      .review_quotes {
        width: 102px;
        height: 79px;
        background: url("../images/quotes-1920px.png") no-repeat center center;
        margin: 30px auto 0 auto;
      }
    }
  }
}


@media screen and (min-width: 767px) {
  .review_title {
    text-align: center;
  }
}

@media screen and (min-width: 1020px) {
  .review_title {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    color: #575656;
    text-align: center;
    font-family: 'quicksand',sans-serif;
    width: 90%;
    margin: 120px auto 0 auto;
  }
  .testomanials_slider_container {
    margin-bottom: 128px;
    .slick-dots {
      margin-top:45px;
    }
    .one_review_box {
      margin-top: 0;
      .one_review_body {
        width: 60%;
        //margin-top: 120px ;
        .review_title {
          margin-top: 30px;
          text-align: center;
          margin-left: 0;
        }
        .review_text {
          margin-top: 50px;
        }
        .review_name {
          margin-top: 20px;
        }
        .review_quotes {

          margin-top: 40px ;
        }
      }
    }
  }
}