.review_title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  color: #575656;

  text-align: left;

  font-family: 'quicksand',Sans-Serif;
  width: 90%;
  margin: 40px auto 0 auto;

}
.testomanials_slider_container {
  margin-bottom: 40px;
  .slick-dots {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 80px;
    align-items: center;
    li {
      width: 12px;
      height: 12px;
      border-radius: 6px;
      border: solid 1px #acacac;
      margin: 0 5px;
      background-color: #acacac;
      cursor:pointer;
      button {
        background: none;
        border: none;
        outline: none;

      }
    }
    .slick-active {
      margin: 0 5px;
      padding: 0;
      background: none;
      border: solid 1px #3b3c3c;
      background-color: #3b3c3c;
      height: 16px;
      width: 16px;
      border-radius: 50%;
      outline: none;
    }
  }

  .one_review_box {
    position: relative;
    outline: none;
    .one_review_body {
      width: 90%;
      margin: 20px auto 0 auto;
      text-align: center;
      font-family: "quicksand", sans-serif;

      .review_text {
        color: #9a9a9a;
        margin-top: 20px;
        font-size: 17px;
      }
      .review_name {
        color: #9a9a9a;
        margin-top: 20px;
        font-size: 17px;
      }
      .review_quotes {
        width: 102px;
        height: 79px;
        background: url("../images/quotes-1920px.png") no-repeat center center;
        margin: 30px auto 0 auto;
      }
    }
  }
}

@media screen and (min-width: 1020px) {

  .testomanials_slider_container {
    margin-bottom: 128px;

    .one_review_box {
      .one_review_body {
        width: 60%;
        margin-top: 120px ;
        .review_title {
          margin-top: 30px;
          text-align: center;
          margin-left: 0;
        }
        .review_text {
          margin-top: 50px;
        }
        .review_name {
          margin-top: 50px;
        }
        .review_quotes {

          margin-top: 50px ;
        }
      }
    }
  }
}