.top_sllider_container {
  position: relative;

  width: 100%;
  max-width: 1127px;
  margin: 55px auto auto;
  .slick-dots {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
    margin-top: 33px;
    align-items: center;
    .slick-active{
      button {
        margin: 0;
        padding: 0;
        border: solid 1px #3b3c3c;
        background: #3b3c3c none;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        outline: none;
      }
    }
    li {
      margin: 0 6px;
      display: flex;
      button {
        margin: 0;
        padding: 0;
        border: solid 1px #acacac;
        background: #acacac none;
        height: 10px;
        width: 10px;
        border-radius: 6px;
        outline: none;
      }
    }
  }
  .product_container[product_name=booster-gold] {
    display: flex;
    justify-content: center;
    outline: none;
    margin: 0 100px;
    a{
      text-decoration: none !important;
    }
    .product_image_container {
      position: relative;
      width: 50%;
      .product_image.product_image_desktop {
        display: block;
        margin-left: 3px;
        pointer-events: none;

      }
      .product_image_mobile {
        display: none;
        pointer-events: none;
      }

    }
    .product_data_container {
      position: relative;
      width: 50%;
      .product_title.product_title_decktop {
        color: #d6b488;
        text-transform: uppercase;
        font-family: 'quicksand', sans-serif;
        //margin-left: 50%;
        .word_split{
          margin-bottom: 0;
          .word1{
            font-size: 40px;
            font-weight: 600;
            display: block;
          }
          .word2{
            font-size: 70px;
            font-weight: 600;
            display: block;
          }
        }
        .first_string {
          font-size: 36px;
          font-weight: 300;
        }
        .second_string {
          font-size: 62px;
          font-weight: 600;
        }
      }
      .product_title.product_title_mobile {
        display: none;
      }
      .product_description {
        margin: 5px 0 0 0;
        font-family: "Open Sans", sans-serif;
        font-size: 25px;
        color:#7c7c7c;
        font-weight:300;
        max-width: 299px;
        line-height: 1.2;
      }
      .learn_more {
        font-size: 16px;
        margin: 15px 0 0 0;
        color:#7c7c7c
      }
      .learn_more>a{
        color: inherit;
        text-decoration: none;
      }
      .shop_now_button {
        width: auto;
        display: inline-block;
        /* max-width: 200px; */
        padding: 0 36px;
        height: 50px;
        border: solid 3px #d6b488;
        color: #d6b488;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        line-height: 46px;
        font-weight: 700;
        top: 40px;
        font-size: 20px;
        //left: 50%;
        cursor: pointer;
        font-family: 'quicksand', sans-serif;
      }
    }
  }
  .product_container[product_name=neck-decollete] {
    display: flex;
    justify-content: center;
    outline: none;
    margin: 0 100px;
    a{
      text-decoration: none !important;
    }
    .product_image_container {
      position: relative;
      width: 50%;
      .product_image.product_image_desktop {
        display: block;
        margin-left: 3px;
        pointer-events: none;
      }
      .product_image_mobile {
        display: none;
        pointer-events: none;
      }

    }
    .product_data_container {
      position: relative;
      width: 50%;
      .product_title.product_title_decktop {
        color: #d6b488;
        text-transform: uppercase;
        font-family: 'quicksand', sans-serif;
        margin-top: 27px;
        .word_split{
          .word1{
            font-size: 40px;
            font-weight: 600;
            display: block;
          }
          .word2{
            font-size: 70px;
            font-weight: 600;
            display: block;
          }
        }
        .first_string {
          font-size: 52px;
          font-weight: 600;
        }
        .second_string {
          font-size: 33px;
          font-weight: 600;
        }
      }
      .product_title.product_title_mobile {
        display: none;
      }
      .product_description {
        margin: 19px 0 0 0;
        font-family: "Open Sans", sans-serif;
        font-size: 25px;
        color:#7c7c7c;
        font-weight:300;
        max-width: 299px;
        line-height: 1.2;
      }
      .learn_more {
        font-size: 16px;
        margin: 15px 0 0;
        color:#7c7c7c
      }
      .learn_more>a{
        color: inherit;
        text-decoration: none;
      }
      .shop_now_button {
        width: auto;
        display: inline-block;
        /* max-width: 200px; */
        padding: 0 36px;
        height: 50px;
        border: solid 3px #d6b488;
        color: #d6b488;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        line-height: 46px;
        font-weight: 700;
        top: 40px;
        font-size: 20px;
        //left: 50%;
        cursor: pointer;
        font-family: 'quicksand', sans-serif;
      }
    }
  }
  .product_container[product_name=booster-active] {
    display: flex;
    justify-content: center;
    outline: none;
    margin: 0 100px;
    a{
      text-decoration: none !important;
    }
    .product_image_container {
      position: relative;
      width: 50%;
      .product_image.product_image_desktop {
        display: block;
        margin-left: 3px;
        pointer-events: none;
      }
      .product_image_mobile {
        display: none;
        pointer-events: none;
      }

    }
    .product_data_container {
      position: relative;
      width: 50%;
      .product_title.product_title_decktop {
        color: #d6b488;
        text-transform: uppercase;
        font-family: 'quicksand', sans-serif;
        margin-top: 27px;
        .word_split{
          .word1{
            font-size: 40px;
            font-weight: 600;
            display: block;
          }
          .word2{
            font-size: 70px;
            font-weight: 600;
            display: block;
          }
        }
        .first_string {
          font-size: 40px;
          font-weight: 600;
        }
        .second_string {
          font-size: 55px;
          font-weight: 600;
        }
      }
      .product_title.product_title_mobile {
        display: none;
      }
      .product_description {
        margin: 9px 0 0 0;
        font-family: "Open Sans", sans-serif;
        font-size: 25px;
        color:#7c7c7c;
        font-weight:300;
        max-width: 299px;
        line-height: 1.2;
      }
      .learn_more {
        font-size: 16px;
        margin: 15px 0 0 0;
        color:#7c7c7c
      }
      .learn_more>a{
        color: inherit;
        text-decoration: none;
      }
      .shop_now_button {
        width: auto;
        display: inline-block;
        /* max-width: 200px; */
        padding: 0 36px;
        height: 50px;
        border: solid 3px #d6b488;
        color: #d6b488;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        line-height: 46px;
        font-weight: 700;
        top: 40px;
        font-size: 20px;
        //left: 50%;
        cursor: pointer;
        font-family: 'quicksand', sans-serif;
      }
    }
  }


  .shop_now_mobile {
    display: none;
  }
}

@media screen and (max-width: 1024px) {

  .top_sllider_container {
    position: relative;
    max-width: 320px;
    margin: auto;
    .slick-dots {

    }
    .product_container[product_name=booster-gold] {
      display: block;
      margin:0;
      .product_image_container {
        position: relative;
        width: 50%;
        margin-bottom: 30px;
        .product_image.product_image_desktop {
          display: none;
          margin-left: 3px;

        }
        .product_image_mobile {
          display: block;
        }

      }
      .product_data_container {
        width: 100%;
        border: none;
        .product_title.product_title_mobile {
          color: #d6b488;
          text-transform: uppercase;
          font-family: 'quicksand', sans-serif;
          display: block;
          font-size: 24px;
          font-weight: 700;
          padding-left: 20px;
        }
        .product_title.product_title_decktop{
display: none;
        }
        .product_description {
          margin: 16px 0 0 0;
          font-family: "Open Sans", sans-serif;
          font-size: 16px;
          padding: 0 20px;
          font-weight: 400;
        }
        .learn_more {
          font-size: 13px;
          padding-left: 20px;
          margin: 10px 0 0 0;
          font-weight: 400;
        }
        .shop_now_decktop {
          display: none;
        }
      }
    }
    .product_container[product_name=neck-decollete] {
      display: block;
      margin:0;
      .product_image_container {
        position: relative;
        width: 50%;
        margin-bottom: 30px;
        .product_image.product_image_desktop {
          display: none;
          margin-left: 3px;

        }
        .product_image_mobile {
          display: block;
        }

      }
      .product_data_container {
        width: 100%;
        border: none;
        .product_title.product_title_mobile {
          color: #d6b488;
          text-transform: uppercase;
          font-family: 'quicksand', sans-serif;
          display: block;
          font-size: 24px;
          font-weight: 700;
          padding-left: 20px;
        }
        .product_title.product_title_decktop{
          display: none;
        }
        .product_description {
          margin: 20px 0 0 0;
          font-family: "Open Sans", sans-serif;
          font-size: 16px;
          padding: 0 20px;
          font-weight: 400;
        }
        .learn_more {
          font-size: 13px;
          padding-left: 20px;
          margin: 10px 0 0 0;
          font-weight: 400;
        }
        .shop_now_decktop {
          display: none;
        }
      }
    }
    .product_container[product_name=booster-active] {
      display: block;
      margin:0;
      .product_image_container {
        position: relative;
        width: 50%;
        margin-bottom: 30px;
        .product_image.product_image_desktop {
          display: none;
          margin-left: 3px;

        }
        .product_image_mobile {
          display: block;
        }

      }
      .product_data_container {
        width: 100%;
        border: none;
        .product_title.product_title_mobile {
          color: #d6b488;
          text-transform: uppercase;
          font-family: 'quicksand', sans-serif;
          display: block;
          font-size: 24px;
          font-weight: 700;
          padding-left: 20px;
        }
        .product_title.product_title_decktop{
          display: none;
        }
        .product_description {
          margin: 20px 0 0 0;
          font-family: "Open Sans", sans-serif;
          font-size: 16px;
          padding: 0 20px;
          font-weight: 400;
        }
        .learn_more {
          font-size: 13px;
          padding-left: 20px;
          margin: 10px 0 0 0;
          font-weight: 400;
        }
        .shop_now_decktop {
          display: none;
        }
      }
    }
    .product_image_container {
      position: relative;
      margin-top: 20px;
      width: 100%;
      border: none;

      .product_image.product_image_mobile {
        display: block;
        margin: 0 auto;

      }
      .product_image.product_image_desktop {
        display: none;
      }

    }
    .shop_now_button.shop_now_mobile {
      display: block;
      font-family: 'quicksand', sans-serif;
      width: 100%;
      max-width: 180px;
      height: 50px;
      border: solid 3px #d6b488;
      color: #d6b488;
      position: relative;
      margin: 0 auto;
      text-align: center;
      text-transform: uppercase;
      line-height: 46px;
      font-size: 20px;
      font-weight: 700;

    }
  }
}