.top_sllider_container {
  position: relative;

  width: 100%;
  max-width: 927px;
  margin: auto;
  margin-top: 74px;
  .slick-dots {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
    margin-top: 33px;
    align-items: center;
    .slick-active{
      button {
        margin: 0;
        padding: 0;
        background: none;
        border: solid 1px #3b3c3c;
        background-color: #3b3c3c;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        outline: none;
      }
    }
    li {
      margin-left: 10px;
      display: flex;
      button {
        margin: 0;
        padding: 0;
        background: none;
        border: solid 1px #acacac;
        background-color: #acacac;
        height: 10px;
        width: 10px;
        border-radius: 6px;
        outline: none;
      }
    }
  }
  .product_container[product_name=booster-gold] {
    display: flex;
    justify-content: center;
    outline: none;
    .product_data_container {
      position: relative;
      width: 50%;
      .product_title.product_title_decktop {
        color: #d6b488;
        text-transform: uppercase;
        font-family: 'quicksand', Sans-Serif;
        //margin-left: 50%;
        .word_split{
          .word1{
            font-size: 40px;
            font-weight: 600;
            display: block;
          }
          .word2{
            font-size: 70px;
            font-weight: 600;
            display: block;
          }
        }
        .first_string {
          font-size: 36px;
          font-weight: 300;
        }
        .second_string {
          font-size: 62px;
          font-weight: 600;
        }
      }
      .product_title.product_title_mobile {
        display: none;
      }
      .product_description {
        margin: 20px 0 0 00%;
        font-family: "Open Sans";
        font-size: 25px;
        color:#7c7c7c;
        max-width: 299px;
      }
      .learn_more {
        font-size: 16px;
        margin: 15px 0 0 0%;
        color:#7c7c7c
      }
      .learn_more>a{
        color: inherit;
        text-decoration: none;
      }
      .shop_now_button {
        width: auto;
        display: inline-block;
        /* max-width: 200px; */
        padding: 0 36px;
        height: 50px;
        border: solid 3px #d6b488;
        color: #d6b488;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        line-height: 46px;
        font-weight: 700;
        top: 40px;
        font-size: 20px;
        //left: 50%;
        cursor: pointer;
        font-family: 'quicksand', Sans-Serif;
      }
    }
  }
  .product_image_container {
    position: relative;
    width: 50%;
    .product_image.product_image_desktop {
      display: block;
      margin-left: 3px;

    }
    .product_image_mobile {
      display: none;
    }

  }

  .shop_now_mobile {
    display: none;
  }
}

@media screen and (max-width: 1024px) {

  .top_sllider_container {
    position: relative;
    margin-top: 0px;
    max-width: 320px;
    margin:auto;
    .slick-dots {

    }
    .product_container[product_name=booster-gold] {
      display: block;
      .product_data_container {
        width: 100%;
        border: none;
        .product_title.product_title_mobile {
          color: #d6b488;
          text-transform: uppercase;
          font-family: 'quicksand', Sans-Serif;
          display: block;
          font-size: 22px;
          font-weight: 600;
          padding-left: 20px;

        }
        .product_title.product_title_decktop{
display: none;
        }
        .product_description {
          padding: 0 20px;
          margin: 20px 0 0 0;
          font-family: "Open Sans";
          font-size: 16px;
          padding-left: 20px;
        }
        .learn_more {
          font-size: 12px;
          padding-left: 20px;
          margin: 10px 0 0 0;
        }
        .shop_now_decktop {
          display: none;
        }
      }
    }
    .product_image_container {
      position: relative;
      margin-top: 20px;
      width: 100%;
      border: none;

      .product_image.product_image_mobile {
        display: block;
        margin: 0 auto;

      }
      .product_image.product_image_desktop {
        display: none;
      }

    }
    .shop_now_button.shop_now_mobile {
      display: block;
      width: 50%;
      max-width: 200px;
      height: 50px;
      border: solid 3px #d6b488;
      color: #d6b488;
      position: relative;
      margin: 0 auto;
      text-align: center;
      text-transform: uppercase;
      line-height: 46px;
      font-weight: 600;

    }
  }
}